 @font-face { font-family: DIN; src: url('fonts/DIN.otf'); } 
  @font-face { font-family: DIN-Bold; src: url('fonts/DIN Bold.otf'); } 
	
	@font-face { font-family: Montserrat-Bold; src: url('fonts/Montserrat-SemiBold.otf'); } 

	@font-face { font-family: MomCake-Bold; src: url('fonts/MomCake-Bold.otf'); } 
	@font-face { font-family: contax; src: url('fonts/contax.otf'); } 

	@font-face { font-family: sup-rad; src: url('fonts/super-rad.otf'); } 
		@font-face { font-family: gilmer-light; src: url('fonts/Gilmer-Light.otf'); } 


	@font-face { font-family: HK-regular; src: url('fonts/HKGrotesk-Regular.otf'); } 
	@font-face { font-family: HK-semibold; src: url('fonts/HKGrotesk-SemiBold.otf'); }
		@font-face { font-family: HK-bold; src: url('fonts/HKGrotesk-Bold.otf'); } 
		@font-face { font-family: HK-medium; src: url('fonts/HKGrotesk-Medium.otf'); } 

 


body {
  min-height: 2000px;
  padding-top: 70px;
  margin: 0;
  overflow-x: hidden !important;
  /* width: 1170px; */
}

.navbar-default .navbar-toggle {

	margin-top: 21px;
	margin-right: 1px;
}

 .navbar {
  min-height: 100px;
    border-width: 0 0 0px; 
}

.navbar-brand {
  padding: 0px !important;
  line-height: 95px;
  vertical-align: middle;

}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-left: 5px; 
	margin-right: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #00a654;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FFFFFF;
    font-weight: 700;
    color: #00a654;
}

.navbar-default .navbar-nav>li>a{
	color: #666666;
}

.menu {
 background-color: #FFFFFF;

}

.menu-items {
/* font-family: Arial, sans-serif; 
*/
font-family: "HK-regular";

 font-size: 14px;
 font-weight: 600;
 /*font-size: 18px;*/
}

.menu-items-list {
	min-height: 100px;
	padding: 38px 0px 0px 36px !important; 
	text-align: center;
	line-height: 100px;
}



.brand {
/*  color: #659D32 !important;
*/  

/*color: #00a654 !important;*/

/*color: #333333 !important;*/

color: #009562  !important;
  font-size: 24px;
/*  font-family: Lato, sans-serif;
*/
  
/*font-family: contax; 
*/
/*font-family: sup-rad; 
*/

/*font-family: gilmer-light;
*/

font-family: HK-regular; 
font-weight: bold;


  /*momcakebold, */
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: 110px;
	padding-right: 110px;
}

.jumbotron {
	background-color: #FFFFFF;
/*	padding-left: 100px !important;
	padding-right: 100px !important;*/
	margin-top: 80px;
	font-family: HK-regular;
}

.jumbotron-work {
	background-color: #FFFFFF;
/*	padding-left: 100px !important;
	padding-right: 100px !important;*/
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: HK-regular;
}

.jumbotron p {
 margin-bottom: 15px; 
 font-weight: 200;
 font-size: 32px;
 color: #222222;
}

.container-style {
	padding-left: 125px;
	padding-right: 125px;
}

.gallery {
	/* margin-top: 40px; */
	border-bottom: 1px solid  #D3D3D3;

}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.thumbnail-style {
	    border: 0 none;
    box-shadow: none;

}

.caption-style {
	padding: 1px !important; 
}

.title {
	margin-top: 10px; 
	margin-bottom: 5px;
}

.project-label {
	color: #324158 !important; 
	font-size: 20px;
  	font-family: Lato, sans-serif;

	text-decoration: none !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #7F7F7F;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid;
    border-color: #D3D3D3; 
}

/*styles for about me page*/


.about-me {
		margin-top: 80px;
}

.category-label {
	font-size: 14px !important;
		font-family: HK-bold;

}

.text {
	font-family: HK-regular;
	font-size: 16px !important;
}


/*STYLES FOR PROJECT PAGES*/

.project-color {
	background-color: #FFA500;
	padding-right: 0px;
    padding-left: 0px;
}
.project-image-background {
	position: relative;
	top: 30px;
	padding: 0;
	margin: 0 0 0 0; 
	background-color: #FFA500;
	height: 450px;

	/* position: absolute;
    top: 0;
    width: 100%;
    height: 100%; */
}

.project-image-container {
	padding-left: 160px;
	padding-right: 160px;
	height: 100%;
}

.container-intro {
	font-family: HK-regular;

	position: relative;
	top: 30px;
    width: 100%;
    /* max-width: 880px; */
	/* margin: 0 auto; */
	margin-left: 160px;
	margin-right: 160px;
    padding: 30px 10px;
    box-sizing: border-box;
}

.project-title {
	font-weight: 400;
	color: #666666;
	font-size: 32px;
	text-align: justify; 
}


.project-subtitle {
	color: #666666;
	font-size: 18px;
	min-height: 100px;
	padding: 100px 50px 50px 100px; 
	text-align: center;
	line-height: 100px;
}

.project-head {

}

.project-image-text{

	/* justify-content: center;
	align-items: center; */
	/* padding: 130px 0; */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #FFFFFF;
}

#project-title {
	font-family: HK-semibold;
	font-size: 27px;
}

#project-subtitle {
	font-family: HK-regular;
	font-size: 15px;
}

.project-intro {
	margin-bottom: 50px;
}


.heading-label {
	font-family: HK-medium;
	font-weight: 500;
	color: #eb510a;
	font-size: 24px;
}

.project-text {
	font-family: HK-regular;
	color: #666666;
	font-size: 16px;
	/*text-align: justify;*/
}

.small-project-text {
	font-family: HK-regular;
	color: #666666;
	font-size: 13px;
	margin-top: 20px;
}

.tiny-project-text {
	font-family: HK-regular;
	color: #666666;
	font-size: 11px;
}

.highlight-text {
	font-family: HK-bold;
	color: #eb510a;
	font-size: 16px;
}

.row-project-details {
	padding-top: 10px;
	padding-bottom: 40px;
	border-bottom: 1px solid  #D3D3D3;
	/* margin-left: 0px; 
	margin-right: 0px; */
}


.row-insights-img {
	padding-left: 5px;
	padding-right:0px;
}

.row-insights-left {
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 0px;

}

.row-insights-middle {
	padding-left: 0px;
	padding-right: 0px;
}

.row-insights-right {
	padding-left: 40px;
	padding-right: 20px;
}

.project-details {
	padding-left: 0px;
	padding-right: 0px;
}

.heading-two-label {
	font-weight: 600;
	color: #666666;
	font-size: 14px;
}

.heading-three-label {
	font-family: HK-semibold;
	color: #666666;
	font-size: 20px;
}

.heading-number {
	padding-left: 10px;
	font-family: HK-semibold;
	color: #eb510a;
	opacity: 0.6;
	font-size: 50px;
}

.heading-number-text {
	font-family: HK-semibold;
	color: #eb510a;
	font-size: 16px;
	margin-top: 12px;
}

.intro-img {
	max-width:100%;
	max-height:100%;
	min-width: 100%;

	/* padding: 70px 0px; */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.overview-img {
	max-width:100%;
	max-height:100%;
	padding-bottom: 40px;
}

.insights-img {
	padding-top: 10px;
	margin-left: 2px;
	height: 120px;
	width: 110px;
}

.bounding-box {
	background-image: url(assets/img/Group 96.jpg);
	background-repeat: no-repeat;
	background-size: contain;
  }

.project-container {
	position: relative;
	top: 20px;
	padding-top: 40px;
}